@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita barras de rolagem horizontais */
}

.transaction-fullscreen {
  background-color: #2b2b2b;
  color: #ffffff;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Evita barras de rolagem verticais */
}

.transaction-navbar {
  display: flex;
  background-color: #181818;
  height: 80px;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.transaction-navbar-left {
  display: flex;
  align-items: center;
}

.transaction-logo {
  height: 40px;
  margin-right: 10px;
}

.transaction-app-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.transaction-form-container {
  width: 100%;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.transaction-form {
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
}

.transaction-form h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.transaction-form-group {
  margin-bottom: 20px;
  width: 100%;
}

.transaction-form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.transaction-form input,
.transaction-form select,
.transaction-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
  box-sizing: border-box;
}

.transaction-form input::placeholder,
.transaction-form textarea::placeholder {
  color: #888888;
}

.transaction-form button {
  padding: 10px 20px;
  background-color: #347c3a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transaction-form button:hover {
  background-color: #409647;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .transaction-form-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .transaction-form {
    padding: 15px;
  }

  .transaction-form h2 {
    font-size: 1.25rem;
  }

  .transaction-form button {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .transaction-navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .transaction-navbar-left {
    margin-bottom: 10px;
  }

  .transaction-form h2 {
    font-size: 1rem;
  }

  .transaction-form button {
    padding: 10px;
  }
}
